div{
    background-color: black;
}
section.first-section{
    position: relative;
    background-image: url("./Pizza.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    color: white;
}

h2,button{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%);
}

section button{
    width:15%;
    background-color:black;
    border: none;
    font-size: 20px;
    text-decoration:none;
}

.second-section{
    display: flex;
    flex-direction: column;
    background-color: black;
    color:red;
}
.second-section h4{
    color: white;
    margin-left: 5%;
}
.second-section img{
    margin: 2%;
    margin-left: 2%;
    width: 28%;
    justify-content: space-between;
}

figure div{
    border:1px;
    border-style:solid;

}

