*{
    background-color: black;
    color:white;
}

.isim{
    margin-top:2%;
    padding: 2%;
    border-style: solid;
    display: flex;
    
}

.dropdown{
    margin-top:2%;
    padding: 2%;
    border-style: solid;
    display: flex;
    flex-direction: row;
}

.checkbox{
    display:flex;
    margin-top:2%;
    padding: 2%;
    border-style: solid;
}

.inputList{
    display: flex;
    flex-direction: column;
}

.secimler{
    margin-top:2%;
    padding: 2%;
    border-style: solid;
    display: flex;
    
}

#order-button{
    position:relative;
    display: flex;
    color:red;
    background-color: white;
}